# goland
.idea/
# possible zone files
*.txt
*.com
*.signed
# binary
dns-tools
# scripts that should not be here
*.sh
# shared objects that should not be here
*.so
# Databases
*sqlite3
*.db
*.pem
.vscode
dns-tools-config.json
