# goland
.idea/
# possible zone file (txt) 
*.txt
# binary
dhsm-signer
# scripts that should not be here
*.sh
# shared objects that should not be here
*.so
# Databases
*.com
*.com.signed
*sqlite3
config.json